
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    /* font-family: "Raleway", serif !important; */

  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
html, body {
  overflow-x: hidden;
}
html, body, div, span, input, button, select, textarea {
  font-family: var(--font-roboto), sans-serif; /* Apply Roboto by default */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-raleway), sans-serif; /* Apply Raleway for headers */
}
.container {
  max-width: 1200px; /* Prevents layout breaking on zoom */
  width: 90%; /* Makes it responsive */
}
.hero-text{
 font-family: "Raleway", serif !important;
 font-weight: 800;
 font-size: 2em;
}

.swiper-pagination{
position:static !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  font-size: 14px !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  font-size: 20px !important;
}